<div class="row mt-3">

  <div class="card col-4 ms-5 me-5" style="width: 18rem;">
    <img src="../../assets/onix-ltz.png" class="card-img-top" alt="onix-ltz">
      <div class="card-body">
      <h5 class="card-title">ONIX LTZ</h5>
      <h6 class="card-subtitle">2018 - Motor 1.4L - 0 Km</h6>
      <p>Com Chevrolet QuickCarLink</p> <br>
      <p class="card-text">De R$ 63.790,00 por:</p>
      <h2 class="text-warning">R$ 50.390,00</h2>
      <p>Preco Válido até Acabar o Estoque</p>
      <button class="btn btn-primary" routerLink="/contato">Aceitar</button>
    </div>
</div>

  <div class="card col-4 ms-5 me-5" style="width: 18rem;">
    <img src="../../assets/tracker-lt.png" class="card-img-top" alt="tracker-lt">
    <div class="card-body">
      <h5 class="card-title">TRACKER LT</h5>
      <h6 class="card-subtitle">2018 - Turbo Ecotec 1.4L - 0 Km</h6>
      <p>Com Chevrolet QuickCarLink</p> <br>
      <p class="card-text">De R$ 91.290,00 por:</p>
      <h2 class="text-warning">R$ 80.990,00</h2>
      <p>Preco Válido até Acabar o Estoque</p>
      <button class="btn btn-primary" routerLink="/contato">Aceitar</button>
    </div>
  </div>

  <div class="card col-4 ms-5 me-5" style="width: 18rem;">
    <img src="../../assets/prisma-ltz.png" class="card-img-top" alt="prisma-ltz">
    <div class="card-body">
      <h5 class="card-title">PRISMA LTZ</h5>
      <h6 class="card-subtitle">2018 - Motor 1.4L - 0 Km</h6>
      <p>Com Chevrolet QuickCarLink</p> <br>
      <p class="card-text">De R$ 69.340,00 por:</p>
      <h2 class="text-warning">R$ 60.190,00</h2>
      <p>Preco Válido até Acabar o Estoque</p>
      <button class="btn btn-primary" routerLink="/contato">Aceitar</button>
    </div>
  </div>

</div>
<br><br>




