<div class="bg-roxo">
    <app-header></app-header>
    <div class="bg-branco m-5 rounded-3" style="position: relative; height: 80%;">
        <div class="mt-5 ms-5 me-5">
            <div class="d-flex justify-content-center"> 
                <h3 class="justify-content-center">BEM-VINDO AO SITE OFICIAL DE OFERTAS QUICKCAR</h3>
            </div>
            <hr>
            <div class="d-flex justify-content-center"> 
            <router-outlet></router-outlet>
            </div>

        </div>

    </div>
    <div class="col-sm-3"></div>
</div>